{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
   
    <title>Document</title>
</head>
<body>

    {% comment %} Element selector {% endcomment %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, id!</p>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo commodi tempora, quis fugiat porro, sit eveniet saepe officia natus itaque consectetur. Laborum ipsam expedita esse, voluptas repellat debitis blanditiis. Sequi!</h1>
    <div class='e-color'>Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
    <div id='id'>Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
 
   {% comment %} Day 3 {% endcomment %}
    <div class='box'>
        <p>
           Ahmad Qamar 
        </p>
    </div>
    {% comment %} Day 4 {% endcomment %}

    
</body>
</html>